body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #0088ee;
  border: none;
  color: white;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  border-radius: 30px;
}

.button-border {
  border: 2px solid #fff;
}

h1 {
  font-size: 72px;
  font-family: 'Open Sans';
  font-weight: 800;
}

h2 {
  font-size: 28px;
  font-family: 'Open Sans';
  font-weight: 400px;
}

h3 {
  position:static;
  margin-top: 75px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Open Sans';
}

p {
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5;
  padding: 20px 0;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/fs_hero_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#why-1 {
  width: 100%;
  /*padding: 80px;
  display=inline-block;*/
  color: #0088ee;
  text-align: center;
}

#why-2 {
  width: 100%;
  color: #fff;
  background-color: #16bb9b;
  text-align: center;
}

#why-3 {
  width: 100%;
  color: #0088ee;
  text-align: center;
}

#how {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/fs_back_1.png);
  position: relative;
  width: 100%;
  height: 120%;
    /*padding-top: 80px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

#features {
  /*
  display: inline-block;
  padding: 80px;*/
  color: #0088ee;
  text-align: margin-left;
}

#ready {
  /*padding: 80px;*/
  background-color: #0088ee;
  color: #fff;
  height: 80%;
}

.my-container {
  border: 3px solid red;

}

.my-row {
  border: 3px dotted blue;
}

.my-col {
  border: 3px dotted green;
}

.container {
  /*padding: 20px;*/
}

.row {
  /*padding: 20px 0px;*/
}

.padding {
  padding: 40px 40px;
}

.title-blue {
  background-color: #0088ee;
  color: white;
}

.title-white {
  background-color: white;
  color: #0088ee;
  margin-left: 10px;
}

.title-dark-blue {
  color: #112F80;
}

.title-light-blue {
  color: #0088ee;
}

.title-green {
  color: #16bb9b;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}

.hero-play {
  padding: 40px;
}

.why {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}

.why-how {
  top: 80%;
}

.docs-title {
  font-size: 45px;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 10px 25px;
  vertical-align: middle;
  position: relative;
}

.why-taglines {
  text-align: left;
  color: white;
}

.how-parragraph {
/*  top: 450px;
  width: 600px;
  height: 50px;*/
  color: white;
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.5;
}

.how-why-style {
  color: white;
  width: 800px;
  font-size: 38px;
  font-family: 'Open Sans';
  font-weight: 800px;
  padding-bottom: 40px;
}

.feature-title {
  font-weight: 600;
  font-size: 40px;
  font-family: 'Open Sans';
  padding-top: 40px;
  width: 350px;
}

.feature-description {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: black;
  text-align: left;
  width: 600px;
}

/*


.how-why {
  top: 85%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}

.padding {
  padding: 80px 0;
  align-items: center;
}

.docs-title {
  font-size: 45px;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 10px 25px;
  vertical-align: middle;
  position: relative;
  top: 60px;
  bottom: 40px;
  margin-left: 30px;
}

<--
.why-why {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}-->


.hero-tagline {
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.how-bottom {
  text-align: bottom;
  margin-top: 480px;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;

}

.logo {
  padding-top: 35px;
  position: fixed;
  left: 20%;
}

.menu {
  color: white;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
}
