body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*font-size: 10px;*/
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  color: #585858;
}

/*a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}*/

button {
  background-color: #f50046;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  color: white;
  padding: 1% 8%;
  text-align: center;
  text-decoration: none;
  font-size: 1.30em;
  transition: all 0.8s ease 0s;
  text-shadow: 0 1px 2px black;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

button:hover {
  background: #97032c
}

button:active {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5.5em;
  font-weight: 300;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.6em;
  font-weight: 400;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.62em;
  font-weight: 500;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.62em;
  font-weight: 600;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

i {
  background-color: transparent;
  color: white;
}

li {
  padding-left: 2.5em;
}

img {
  max-width: 100%;
  height: auto;
}

#hero {
  background-image: linear-gradient(to bottom, #174c76, #262a2e);
  color: #fff;
  text-align: center;
  position: relative;
}

#why {
  background-color: #0088ee;
  color: #fff;
  text-align: center;
  position: relative;
}


#answers {
  color: #0088ee;
  text-align: center;
  position: relative;
}

#how {
  background-color: #0088ee;
  color: #fff;
  text-align: center;
  position: relative;
}

#features {
  color: #0088ee;
  text-align: left;
  position: relative;
}

#features img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
  
#ready {
  background-color: #0088ee;
  color: #fff;
}

#footer {
  background-color: #fff;
  text-decoration: none;
  padding: 1%;
}

#mailchimp {
  background: none;
  color: #f50046;
  align-items: center;
}

#mailchimp input {
    border: medium;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;


    padding: 1% 8%;
    text-decoration: none;

    font-size: 1em;
    border-radius: 30px;
    -moz-border-radius: 30px;
		-webkit-border-radius: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
/*
  #mailchimp input.email { 
    background: #fff }

  #mailchimp input.name { 
    background: #fff}

  #mailchimp input[type="submit"] {
    background-color: #f50046;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: none;
    color: white;
    padding: 1% 8%;
    text-align: center;
    text-decoration: none;
    font-size: 1.30em;
    transition: all 0.8s ease 0s;
    text-shadow: 0 1px 2px black;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1%; 

    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
  }
*/

.logo {
  width: 10em;
}

.container-hero {
  /*padding: 12% 4% 0% 4%;*/
  margin-top: 12%;
  position: relative;
}

.container-x{
  width: 100vw;
  height: 50vh;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  }

.container-fluid {
  max-width: 90%;
}

.grid {
  background-image: radial-gradient(hsla(0, 0%, 15%, 0.91) 4%, transparent 0);
  background-size: 3.75em 3.75em;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.padding-high {
  padding: 5%;
}

.padding-light {
  padding: 3.5%;
}
/*
.arrow {
  padding: 0 0 4% 0;
}

.arrow-hero {
  margin-bottom: 4%;
  margin-top: 10%;
}*/

.chev {
  margin-top: 5%;
  width: 4em;
}

.navbar-custom {
  padding: 1.2em;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
  text-align: right;
}

.navbar-collapse a{
  color: white;
  transition: all 1s;
  text-shadow: 1px 1px 2px #202020;
}

.navbar-collapse a:hover {
  color: #585858;
  transition: all 1s;
  text-shadow: 1px 1px 2px #202020;
}

.feature-title {
  margin-top: 12%;
  margin-bottom: 6%;
  width: 90%;
  text-align: left;
}

.feature-description {
  color: black;
  width: 90%;
  text-align: left;
}

.footer-text {
  font-size: 1.1em;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #909090;
  transition: all 1s;
  text-decoration: none;
}

.fa-play-circle {
  font-size: 4em;
}

.fa-bars {
  font-size: 1.8em;
}

/*************square**********/
@keyframes move-left-right {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.square-block .squares {
  animation: move-left-right 2s infinite;
  background: #1361BF;
  background: -webkit-linear-gradient(0deg, #1361BF 0%, #1361BF 100%);
  background: -o-linear-gradient(0deg, #1361BF 0%, #1361BF 100%);
  background: -moz-linear-gradient(0deg, #1361BF 0%, #1361BF 100%);
  background: linear-gradient(0deg, #1361BF 0%, #1361BF 100%);
  position: absolute;
  transition: 0.5s ease-out;
  /*overflow: hidden;
  */border-radius: 8%;
  -webkit-animation: move-left-right 2s infinite;
}

.square-block .squares.square1 {
  animation: move-left-right 12s infinite;
  height: 300px;
  width: 200px;
  opacity: 0.4;
  left: 15%;
  top: 22%;
  -webkit-animation: move-left-right 12s infinite;
}

.square-block .squares.square2 {
  animation: move-left-right 6s infinite;
  height: 270px;
  width: 350px;
  opacity: 0.4;
  right: 10%;
  top: 15%;
  -webkit-animation: move-left-right 6s infinite;
}

.square-block .squares.square3 {
  animation: move-left-right 8s infinite;
  height: 125px;
  width: 125px;
  opacity: 0.4;
  right: 25%;
  top: 40%;
  -webkit-animation: move-left-right 8s infinite;
}

.square-block .squares.square4 {
  animation: move-left-right 15s infinite;
  height: 175px;
  width: 175px;
  left: 12%;
  top: 50%;
  opacity: 0.4;
  -webkit-animation: move-left-right 15s infinite;
}

.square-block .squares.square5 {
  animation: move-left-right 7s infinite;
  width: 200px;
  height: 300px;
  right: 10%;
  bottom: 22%;
  opacity: 0.4;
  -webkit-animation: move-left-right 7s infinite;
}

.lengua {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -49px;
  z-index: 9999;
 }

#hero lengua {
  fill: [black];
}

#how lengua {
  fill: [white];
}

















/*************square**********/

@media (max-width:576px)  {
   button {
    padding: 0.4em 3em;
    font-size: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.1em;
  }

  p {
    font-size: 1em;
  }

  #hero {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  #a-first {
    order: 2;
  }

  #a-second {
    order: 1;
  }

  #a-third {
    order: 2;
  }

  #a-forth {
    order: 1;
  }

  #a-fifth {
    order: 2;
  }

  #a-sixth {
    order: 1;
  }

  #f-first {
    order: 2;
  }

  #f-second {
    order: 1;
  }

  #f-fifth {
    order: 2;
  }

  #f-sixth {
    order: 1;
  }

  #why .container-x{
    width: 100vw;
    height: 40vh;
    }

  #how .container-x{
    width: 100vw;
    height: 60vh;
    }

   #ready .container-x{
    width: 100vw;
    height: 100vh;
    }

    .square-block .squares.square1 {
      animation: move-left-right 12s infinite;
      height: 130px;
      width: 100px;
      opacity: 0.4;
      left: 15%;
      top: 42%;
    }
  
    .square-block .squares.square2 {
      animation: move-left-right 6s infinite;
      height: 110px;
      width: 180px;
      opacity: 0.4;
      right: 10%;
      top: 25%;
    }
  
    .square-block .squares.square3 {
      animation: move-left-right 8s infinite;
      height: 100px;
      width: 100px;
      opacity: 0.4;
      right: 25%;
      top: 60%;
    }
  
    .square-block .squares.square4 {
      animation: move-left-right 15s infinite;
      height: 175px;
      width: 175px;
      left: 12%;
      top: 50%;
      opacity: 0;
    }
  
    .square-block .squares.square5 {
      animation: move-left-right 7s infinite;
      width: 200px;
      height: 300px;
      right: 10%;
      bottom: 22%;
      opacity: 0;
    }

  .container-hero {
    padding: 10%;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
  }

  .logo {
    width: 5.5em;
  }

  .nav-link {
    font-size: 7.5em;
  }
  
  .fa-play-circle {
    font-size: 2em;
    padding: 10%;
  }

  .chev {
    /*margin-top: 20%;*/
    font-size: 0.5em;
  }

  .chev-hero {
    margin-top: 20%;
  }
  
  .fa-bars {
    font-size: 1em;
  }

  .feature-title {
    width: 100%;
  }
  
  .feature-description {
    width: 100%;
  }

  .footer-text {
    font-size: 0.7em;
  }

 
  #features img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  #ready h1 {
    font-size: 2.2em;
  }

  #ready button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

  #ready button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}



    



















@media (min-width:576.1px) and (max-width:768px) {
  body, html {
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
  }

  #a-first {
    order: 2;
  }

  #a-second {
    order: 1;
  }

  #a-third {
    order: 2;
  }

  #a-forth {
    order: 1;
  }

  #a-fifth {
    order: 2;
  }

  #a-sixth {
    order: 1;
  }

  #f-first {
    order: 2;
  }

  #f-second {
    order: 1;
  }

  #f-fifth {
    order: 2;
  }

  #f-sixth {
    order: 1;
  }

  .img-fluid {
    max-width: 60%;
  }

  .logo {
    width: 10em;
  }

  .nav-link {
    font-size: 0.9em;
  }

  .chev {
    font-size: 0.8em;
  }

  .fa-play-circle {
    font-size: 2.4em;
  }

  .fa-bars {
    font-size: 1.5em;
  }

  .footer-text {
    font-size: 0.9em;
  }

  .square-block .squares.square1 {
    animation: move-left-right 12s infinite;
    height: 200px;
    width: 150px;
    opacity: 0.4;
    left: 15%;
    top: 22%;
  }

  .square-block .squares.square2 {
    animation: move-left-right 6s infinite;
    height: 170px;
    width: 250px;
    opacity: 0.4;
    right: 10%;
    top: 15%;
  }

  .square-block .squares.square3 {
    animation: move-left-right 8s infinite;
    height: 125px;
    width: 125px;
    opacity: 0.4;
    right: 25%;
    top: 40%;
  }

  .square-block .squares.square4 {
    animation: move-left-right 15s infinite;
    height: 175px;
    width: 175px;
    left: 12%;
    top: 50%;
    opacity: 0;
  }

  .square-block .squares.square5 {
    animation: move-left-right 7s infinite;
    width: 200px;
    height: 300px;
    right: 10%;
    bottom: 22%;
    opacity: 0;
  }
}




































@media (min-width:768.1px) and (max-width:992px) {
  body, html {
    font-size: calc(6px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
  }

  .img-fluid {
    max-width: 80%;
  }

  .logo {
    width: 10em;
  }

  .nav-link {
    font-size: 1.1em;
  }

  .chev {
    font-size: 1em;
  }

  .fa-play-circle {
    font-size: 3.0em;
  }
/*  .fa-bars {
    font-size: 2em;
  }
*/
  .footer-text {
    font-size: 1em;
  }

  .square-block .squares.square1 {
    animation: move-left-right 12s infinite;
    height: 250px;
    width: 150px;
    opacity: 0.4;
    left: 15%;
    top: 22%;
  }

  .square-block .squares.square2 {
    animation: move-left-right 6s infinite;
    height: 220px;
    width: 300px;
    opacity: 0.4;
    right: 10%;
    top: 15%;
  }

  .square-block .squares.square3 {
    animation: move-left-right 8s infinite;
    height: 150px;
    width: 150px;
    opacity: 0.4;
    right: 30%;
    top: 45%;
  }

  .square-block .squares.square4 {
    animation: move-left-right 15s infinite;
    height: 175px;
    width: 175px;
    left: 12%;
    top: 50%;
    opacity: 0;
  }

  .square-block .squares.square5 {
    animation: move-left-right 7s infinite;
    width: 200px;
    height: 300px;
    right: 10%;
    bottom: 22%;
    opacity: 0;
  }

}

@media(min-width:992.1px) {
  body, html {
    font-size: calc(6px + (16 - 8) * ((100vw - 300px) / (1600 - 300)));
  }
}


/*

.my-container {
  border: 3px solid red;
}

.my-row {
  border: 3px dotted blue;
}

.my-col {
  border: 3px dotted green;
}


.arrow {
  padding: 0 0 1% 0;
}

.arrow-hero {
  margin-bottom: 2%;
  margin-top: 18%;
}


576, 768, 992, 1200

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

*/