body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  background-color: #0088ee;
  border: none;
  color: white;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
  border-radius: 30px;
}

h1 {
  font-size: 60px;
  font-family: 'Open Sans';
  font-weight: 800;
}

h3 {
  position:static;
  margin-top: 75px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans';
}

p {
  width: 300px;
  height: 50px;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5;
}

.padding {
  padding: 80px 0;
}

.row {
  align-content: center;
}


#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/fs_hero_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 725px;
  position: relative;
}

#why-1 {
  width: 100%;
  height: 725px;
  color: #0087ed;
  text-align: center;
  align-items: center;
}

#why-2 {
  width: 100%;
  height: 725px;
  background-color: #16bb9b;
  text-align: center;
  align-items: center;
}

#why-3 {
  width: 100%;
  height: 725px;
  color: #0087ed;
  text-align: center;
  align-items: center;
}

#how {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/fs_back_1.png);
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  text-align: center;
}

.hero-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}

.hero-actions {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  align-items: center;
}

.hero-tagline {
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.arrow {
  padding: 30px;
}

.docs-title-blue {
  background-color: #0087ed;
  color: white;
  padding: 10px 30px;
  font-size: 45px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-right: 150px;
}

.docs-title-white {
  position: relative;
  top: 30px;
  background-color: white;
  color: #0087ed;
  padding: 10px 30px;
  font-size: 45px;
  font-family: 'Open Sans';
  font-weight: 600;
  bottom: 50px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
}

.why-parragraph {
  width: 300px;
  height: 50px;
  color: #0087ed;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5;
}

.how-parragraph {
  top: 450px;
  width: 550px;
  height: 50px;
  color: white;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.5;
}


.how-features {
  width: 100%;
  height: 1000px;
  background-color: white;
  text-align: center;
  align-items: center;
}

/*

.how-bottom {
  text-align: bottom;
  margin-top: 480px;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;

}

.why-ilu-4 {
  position: relative;
}

/*
.navbar {
  padding: 1% 0%;
  font-size: 1.2em;
}

.navbar-brand {
  min-height: 55px;
  padding: 10px 600px 5px;

}

.navbar-default .navbar-nav li a {
  color: #D5D5D5;
}


.logo {
  padding-top: 35px;
  position: fixed;
  left: 20%;
}

.menu {
  color: white;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

/**.hero-title {
  font-size: 60px;
  font-family: 'Open Sans';
  font-weight: 800;
} NOT NEEDED */


/*.why-tagline-2 {
  position: relative;
  text-align: left;
  margin-left: 800px;
  top: 275px;
  font-size: 60px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;
}

.why-ilu-2 {
  position: relative;
  margin-right: 300px;
}

.why-parragraph-2 {
  width: 300px;
  height: 50px;
  color: white;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5;
}

/*.why-tagline-3 {
  position: relative;
  text-align: left;
  margin-left: 340px;
  top: 200px;
  font-size: 60px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #0087ed;
}

.why-ilu-3 {
  position: relative;
  margin-left: 475px;
  bottom: 50px;
}*/

/*..why-tagline {
  position: relative;
  margin-right: 400px;
  top: 250px;
}

why-ilu-1 {
  position: relative;
  margin-left: 475px;
  margin-top: 50px;
} CHECK IF NEEDED */
